<div class="row">
    <div class="large-12 columns"><p>your token is: <textarea><%=auth%></textarea></p></div>
    <div class="large-12 columns">
        <h3>User Guide</h3>
        <ol>
            <li>Hitting the 'Get Dashboards' button will fill the Dashboards dropdown with the dashboards that you have access to in Power BI.
                It will also refresh the Tiles dropdown to show the Tiles availaible from the selected Dashboard.</li>
            <li>Selecting a dashboard from the list will refresh the Tils dropdown, loading in the Tiles for the newly selected dashboard.</li>
            <li>Select a Tile from the dropdown to have that tile displayed in the iframe below.</li>
            <li>Hovering over the Power BI tile will display the Tool Tips; Clicking will open the dashboard in a new window.</li>
        </ol>
        For each request, the response is put in the text box below.
    </div>
    <select class="large-12 columns" id="dashboard-elements">



    </select>
</div>